*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	list-style: none;
	text-decoration: none;
}

button {
	cursor: pointer;
	border: none;
}

h2 {
	font-size: 36px;
	line-height: 42px;
	font-weight: 700;
}

.header {
	padding: 6px 0px;
}

.container {
	max-width: 1070px;
	margin: auto;
	padding: 0px 15px;
}

.header__container {
	display: flex;
	align-items: center;
}

.header__nav {
	min-width: 423px;
}

.header__nav-list {
    display: flex;
	align-items: space-between;
	gap: 28px;
}

.header__nav-list__item {
	font-weight: 700;
	color: #1C1B1B;
}

.header__logo-wrapper {
	align-items: center;
}

.header__icons-wrapper {
	margin-left: auto;
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.introdaction {
	background: #F0EFEB;
}

.introdaction__container {
	display: flex;
	justify-content:space-between;
}

.introdaction__text-block {
	padding: 90px 0px;
	max-width: 530px;
}

.introdaction__title {
	font-size: 60px;
	line-height: 70px;
	margin-bottom: 42px;
}

.introdaction__text {
	line-height: 28px;
	font-size: 24px;
	margin-bottom: 26px;
}

.introdaction__button {
	color: #FFFFFF;
	background-color: #000000;
	padding: 8px 23px;
	border-radius: 100px;
	font-size: 17px;
	line-height: 20px;
}

.tagline__conteiner {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 13px;
}

.tagline__title {
	margin-bottom: 26px;
}

.tagline__text-block__wrapper {
	max-width: 632px;
}

.tagline__text {
	text-align: center;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 47px;
}

.best-sellers__container {
	padding-top: 27px;
	padding-bottom: 240px;
}

.best-sellers__title {
	text-align: center;
	margin-bottom: 52px;
}

.best-sellers__cards-wrapper {
	display: flex;
	justify-content: space-between;
}

.best-sellers__card {
	width: 315px;
}

.best-sellers__card__image-wrapper {
	margin-bottom: 20px;
}

.best-sellers__card__title {
	width: 160px;
	margin: auto;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-weight: 700;
	margin-bottom: 17px;
}

.best-sellers__card__price {
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-weight: 400;
	margin-bottom: 10px;
}

.best-sellers__card__button-wrapper {
	text-align: center;
}

.best-sellers__card__button {
	background: none;
	text-decoration: underline;
	font-size: 17px;
	line-height: 20px;
	font-weight: 700;
}

.people {
	background: #CCCCCC4D;
}

.people__container {
	padding-top: 76px;
	padding-bottom: 51px;
	display: flex;
}

.people__image {
	margin-right: 50px;
}

.people__title {
	margin-top: 63px;
	margin-bottom: 31px;
}

.people__text {
	font-size: 36px;
	font-weight: 400;
	line-height: 42px;
	margin-bottom: 31px;
	max-width: 498px;
}

.people__text-block__link {
	text-decoration: underline;
	color: #000000;
	font-size: 17px;
	font-weight: 700;
	line-height: 20px;
}

.culture {
	background: #CCCCCC99;
}

.culture__container {
	padding-top: 76px;
	padding-bottom: 51px;
	display: flex;
	justify-content: flex-end;
}

.culture__title {
	margin-top: 63px;
	margin-bottom: 31px;
	text-align: right;
}

.culture__text {
	font-size: 36px;
	font-weight: 400;
	line-height: 42px;
	margin-bottom: 31px;
	max-width: 498px;
	text-align: right;
}

.culture__text-block__link {
	text-decoration: underline;
	color: #000000;
	font-size: 17px;
	font-weight: 700;
	line-height: 20px;
	text-align: right;
}

.culture__image {
	margin-left: 50px;
}

.power {
	background: #CCCCCC4D;
}

.power__container {
	padding-top: 76px;
	padding-bottom: 51px;
	display: flex;
}

.power__image {
	margin-right: 50px;
}

.power__title {
	margin-top: 63px;
	margin-bottom: 31px;
}

.power__text {
	font-size: 36px;
	font-weight: 400;
	line-height: 42px;
	margin-bottom: 31px;
	max-width: 498px;
}

.power__text-block__link {
	text-decoration: underline;
	color: #000000;
	font-size: 17px;
	font-weight: 700;
	line-height: 20px;
}

.features__conteiner {
	padding-top: 190px;
}

.features__text-wrapper {
	max-width: 450px;
	margin: auto;
}

.features__text {
	font-size: 36px;
	font-weight: 400;
	line-height: 42px;
	text-align: center;
	margin-bottom: 69px;
}

.features__items-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 110px;
}

.features__item {
	width: 338px;
	text-align: center;
}

.features__item__image {
	margin-bottom: 26px;
}

.features__item__text {
	font-size: 30px;
	font-weight: 700;
	line-height: 35px;
}

.interviews {
	background: linear-gradient(#FFFFFF 50%, #F0F0F0 50%);
}

.interviews__container {
	padding-top: 105px;
	padding-bottom: 51px;
}

.interviews__title-wrapper {
	max-width: 705px;
	margin: auto;
}

.interviews__title {
	text-align: center;
	margin-bottom: 102px;
}

.interviews__items-wrapper {
	display: flex;
	justify-content: space-between;
	column-gap: 100px;
}

.interviews__item__text {
	text-align: center;
	margin: auto;
	max-width: 260px;
}

.interviews__item__image {
	margin-bottom: 35px;
}

.interviews__item__text {
	margin-bottom: 34px;
}

.interviews__item__quote {
	font-size: 22px;
	font-weight: 700;
	line-height: 26px;
}

.interviews__item__author {
	font-style: normal;
	font-size: 20px;
	font-weight: 400;
	line-height: 23px;
}

.interview__item__text-link {
	margin-top: 44px;
	text-align: center;
}

.interview__item__link {
	font-size: 18px;
	font-weight: 700;
	line-height: 21px;
	text-decoration: underline;
	color: #000000;
}

.subscription__container {
	padding-top: 79px;
	padding-bottom: 89px;
	text-align: center;
}

.subscription__text-wrapper {
	max-width: 496px;
	margin: auto;
}

.subscription__title {
	margin-bottom: 9px;
}

.subscription__subtitle {
	font-weight: 700;
	font-size: 17px;
	line-height: 20px;
	margin-bottom: 26px;
}

.subscription__button {
	color: #ffffff;
	background: #000000;
	padding: 7px 23px 10px;
	border-radius: 100px;
}

.footer {
	background: #020202;
}

.footer__container {
	padding-top: 51px;
	padding-bottom: 16px;
	color: #ffffff;
}

.footer__container-wrapper {
	display: flex;
	justify-content: space-between;
}

.footer__left-groupe {
	width: 129px;
}

.footer__logo {
	margin-bottom: 25px;
}

.footer__icons-wrapper {
	display: flex;
	column-gap: 20px;
	justify-content: center;
}

.footer__nav {
	display: flex;
	column-gap: 72px;
	margin: 8px;
}

.footer__nav-title {
	margin-bottom: 36px;
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
	text-transform: uppercase; 
}

.footer__nav-item {
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	margin-bottom: 12px;
}

.footer__text {
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
	text-transform: uppercase;
}